body {
    background-color:rgb(235, 233, 233);
    padding:0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/* Styling the header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: centre;
    background-color: rgb(147, 18, 18);
}

/*Stlying for "Angela's Portfolio"*/
.logo {
    color: rgb(241, 232, 232);
    width: 25px;
    padding-right: 10px;
    font-size: 20px;
    margin-left: 30px;
}

/*Navigation container*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 100px;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 180x;
}

/*style the intro section*/
.intro-container {
    width: 40px
    text-align: left
    margin: 50px;
}

/*style each paragraph*/
.intro-text p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}

/*style the name*/
.my-name {
    font-weight: bold;
    color: red;
    font-size: 28px;
}
 /*Style the Hire Me button*/
 .Hire-Me {
    display: inline-block;
    margin-top: 15px;
    margin-left: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #e63946;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
 }

 .hire-me hover {
    background-color: #c92c37
 }
}

.tech-stack {
    text-align: centre;
    display: inline-block;
    margin: 10px;
}